.crm-icon {
    background-image:url(/static/images/customer.png) !important;
}
.contact-icon {
    background-image:url(/static/images/contact.png) !important;
}
.calendar-icon {
    background-image:url(/static/images/calendar.png) !important;
}
.account-icon {
    background-image:url(/static/images/account.png) !important;
}
.lead-icon {
    background-image:url(/static/images/lead.png) !important;
}
.opportunity-icon {
    background-image:url(/static/images/opportunity.png) !important;
}
.task-icon {
    background-image:url(/static/images/task.png) !important;
}
.campaign-icon {
    background-image:url(/static/images/campaign.png) !important;
}
.target-icon {
    background-image:url(/static/images/target.png) !important;
}
.case-icon {
    background-image:url(/static/images/case.png) !important;
}
.order-icon {
    background-image:url(/static/images/order.png) !important;
}
.job-icon {
    background-image:url(/static/images/file.png) !important;
}
.call-icon {
    background-image:url(/static/images/call.png) !important;
}
.note-icon {
    background-image:url(/static/images/notes.png) !important;
}
.email-icon {
    background-image:url(/static/images/email.png) !important;
}
.meeting-icon {
    background-image:url(/static/images/meeting.png) !important;
}
.doc-icon {
    background-image:url(/static/images/doc.png) !important;
}
.product-icon {
    background-image:url(/static/images/product.png) !important;
}
.quote-icon {
    background-image:url(/static/images/quotation.png) !important;
}
.invoice-icon {
    background-image:url(/static/images/invoice.png) !important;
}
.shipping-icon {
    background-image:url(/static/images/shippingline.png) !important;
}
.port-icon {
    background-image:url(/static/images/port.png) !important;
}
.money-icon {
    background-image:url(/static/images/money_coin.png) !important;
}
/*
 * Row styles
 */
.tasks-completed-task .x-grid-cell {
    text-decoration: line-through;
    color: gray;
}
.tasks-overdue-task {
    color:#fb223a;
}

/*
 * Action Icons
 */
.x-action-col-icon {
    cursor: pointer;
}

/*
 * Divider
 */
.divider {
	height: 1px;
	background: #a3bad9;
	margin-bottom: 8px;
}

/*
 * Column Headers
 */
.tasks-icon-column-header .x-column-header-text {
    display: block;
    height: 22px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}
.tasks-icon-column-header .x-column-header-inner {
    padding: 0 4px;
}
.tasks-done-column-header .x-column-header-inner {
    padding: 0 6px;
}
.tasks-done-column-header .x-column-header-text {
    background: url('/static/images/check_header.png') no-repeat 0 7px;
}
.tasks-reminder-column-header .x-column-header-text {
    background-image: url('/static/images/bell.png');
}
.tasks-edit-column-header .x-column-header-text {
    background-image: url('/static/images/edit_task.png');
}
.tasks-delete-column-header .x-column-header-text {
    background-image: url('/static/images/delete.png');
}

/*
 * Icon styles
 */
.tasks-new {
    background: url('/static/images/new.png') no-repeat;
}
.tasks-new-folder {
    background-image: url('/static/images/new_folder.png');
}
.tasks-new-list {
    background-image: url('/static/images/new_list.png');
}
.tasks-delete-task {
    background-image: url('/static/images/delete_task.png');
}
.tasks-delete-list {
    background-image: url('/static/images/delete_list.png');
}
.tasks-delete-folder {
    background-image: url('/static/images/delete_folder.png');
}
.tasks-mark-complete {
    background-image: url('/static/images/mark_complete.png');
}
.tasks-mark-active {
    background-image: url('/static/images/mark_active.png');
}
.tasks-show-all {
    background-image: url('/static/images/show_all.png');
}
.tasks-show-active {
    background-image: url('/static/images/show_active.png');
}
.tasks-show-complete {
    background-image: url('/static/images/show_complete.png');
}

/*
 * New Task Form
 */
.tasks-new-form .x-form-item {
    margin: 2px 3px 2px 2px;
}
.tasks-new-form .tasks-new {
    background-position: 4px 5px;
}
.tasks-new-form .x-form-field, .x-form-display-field {
    font-size: 11px;
}

/*
 * CheckColumn styles
 */
.x-grid-cell-checkcolumn .x-grid-cell-inner {
    line-height: 0;
    padding: 2px 4px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 1px;
}
.x-grid-checkheader {
    height: 16px;
    width: 16px;
}
.x-grid-checkheader-inner {
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: url('../images/check.png') no-repeat 1px 1px;
}
.x-grid-checkheader-checked .x-grid-checkheader-inner {
    background-position: -1px -16px;
}
.x-grid-checkheader-over {
    background: url('../images/check.png') no-repeat 0 -32px;
}
.tasks-completed-task .x-grid-cell-checkcolumn {
    text-decoration: none;
}

/*
 * ReminderColumn styles
 */
.x-grid-cell-remindercolumn .x-grid-cell-inner {
    line-height: 0;
    padding: 2px;
}
.x-grid-with-row-lines .x-grid-cell-remindercolumn .x-grid-cell-inner {
    padding-top: 1px;
}
.x-grid-reminder {
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: url('../images/bell.png') no-repeat;
}
.x-grid-reminder-empty {
    background-position: 0 -50px;
}
