
<html>
<head>

	<title>Intouch Communications LTD</title>
	{% block head %} 
    		<link rel="stylesheet" type="text/css" href="/static/ext-4.1.1/resources/css/ext-all.css" /> 
        <link rel="stylesheet" type="text/css" href="/static/css/test.css"/> 
    		<link rel="icon" type="image/jpg" href="static/images/intouchlogo.png">
    		<script type="text/javascript" src="/static/ext-4.1.1/ext-all-debug.js"></script>
        <script type="text/javascript" src="/static/ext-4.1.1/plugins/ux/RowExpander.js"></script>
    		<script type="text/javascript" text="javascript" src='/static/js/admin.js'></script>
       
    				
    		
    		<script type="text/javascript">
       		
       			
           
   		 </script> 
	{% endblock %}
	
	
	

</head>

{% block body %}
<body >



<p id='full_names'>{{ full_name }}</p> 

   
   
</body>
{% endblock %}


</html>
