
<html>
<head>

	<title>E-Learning</title>
	{% block head %} 
    		<link rel="stylesheet" type="text/css" href="/static/ext-4.1.1/resources/css/ext-all.css" />
            <link rel="stylesheet" type="text/css" href="/static/ext-4.1.1/examples/ux/css/CheckHeader.css" /> 
            <link rel="stylesheet" type="text/css" href="/static/css/chatapp.css"/> 
    		<link rel="icon" type="image/jpg" href="/static/images/chatappicon.jpg">
    		<script type="text/javascript" src="/static/ext-4.1.1/ext-all-debug.js"></script>
            <script type="text/javascript" src="/static/ext-4.1.1/plugins/TreePicker.js"></script>
            <script type="text/javascript" src="/static/ext-4.1.1/plugins/ux/RowExpander.js"></script>
            <script type="text/javascript" src="/static/ext-4.1.1/plugins/ux/CheckColumn.js"></script>
        	<script type="text/javascript" text="javascript" src='/static/js/index.js'></script>
            <script type="text/javascript" text="javascript" src='/static/js/myprofile.js'></script>
            <script type="text/javascript" text="javascript" src='/static/js/olevel.js'></script>
            <script type="text/javascript" text="javascript" src='/static/js/admin.js'></script>
           
        				
        		
        	<script type="text/javascript">
           		
           			
               
       		</script> 
	{% endblock %}
	
	
	

</head>

{% block body %}
<body>


   
   
</body>
{% endblock %}


</html>
