
<html>
<head>

	<title>E-LEARNING</title>
	{% block head %} 
    		<link rel="stylesheet" type="text/css" href="/static/ext-4.1.1/resources/css/ext-all.css" />
        	<link rel="stylesheet" type="text/css" href="/static/css/chatapp.css"/> 
    		<link rel="icon" type="image/jpg" href="/static/images/chatappicon.jpg">
    		<script type="text/javascript" src="/static/ext-4.1.1/ext-all-debug.js"></script>
    		<script type="text/javascript" text="javascript" src='/static/js/login.js'></script>
       
    				
    		
    		<script type="text/javascript">
       		
       			
           
   		  </script> 
	{% endblock %}
	
	
	

</head>

{% block body %}
<body >
 


   
   
</body>
{% endblock %}


</html>
